## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [19]:
num=7
print(num)
print(type(num))

7
<class 'int'>

2) Imprimir el tipo de dato de la constante 8.5

In [20]:
cons=8.5
print(type(cons))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [21]:
print(type(num))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [22]:
nombre="Jair"

5) Crear una variable que contenga un número complejo

In [23]:
num_com='4+5j'
print(num_com)

4+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [24]:
print(type(num_com))

<class 'str'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [25]:

pi=3.1416

pi2=round(pi+0.4)

print(pi2)

4

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [26]:
v='true'
print(v)
bool(v) #el primero es una valor del tipo string y el segundo es un valor boleano

true

True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [27]:
print(type(v))

<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [28]:
suma=2+2.1
print(suma)

4.1

11) Realizar una operación de suma de números complejos

In [29]:
num_com1=0+1j
num_com2=1-1j
resultado_suma=num_com1+num_com2
print(resultado_suma)
resultado_resta=num_com1-num_com2
print(resultado_resta)

(1+0j)
(-1+2j)

12) Realizar una operación de suma de un número real y otro complejo

In [30]:
num_com1=1.2
num_com2=1-1j
resultado_suma=num_com1+num_com2
print(resultado_suma)

(2.2-1j)

13) Realizar una operación de multiplicación

In [31]:
num1=2
num2=2
multiplicacion=num1*num2
print(multiplicacion)
print(2*1)

4
2

14) Mostrar el resultado de elevar 2 a la octava potencia

In [32]:
potencia=2**8
print(potencia)
print(2**8)

256
256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [33]:
cociente=27/4
print(cociente)
resultado_division=cociente
print(resultado_division)

6.75
6.75

16) De la división anterior solamente mostrar la parte entera

In [34]:
int(cociente)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [35]:
resto=27%4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [36]:
print(4*6+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [37]:
alfa_num='2x'
alfa_num2='2y'
print(alfa_num+alfa_num2)

2x2y

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [38]:
x='2'
y=2
print(x==y) #el primero es una cadena de caracteres y el segundo es un entero

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [39]:
print(x!=y)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [40]:
a=float('3.8')
print(a) #se debe usar . como separador decimal

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [41]:
x=3
x-=1
print(x)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [42]:
1<<2 #se elevo a la 2 potencia el numero 2 despues de haberse movido el 1 dos lugares a su izquierda. El sistema de numeracion binario es un sistema numerico que utiliza 1 y 0 como base

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [46]:
 # son valores de diferentes tipos. Si fueran del mismo tipo si se ejecutaria la operacion
z=2
z1='2'
print(z+int(z1))

4

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
x='El valor es: '
y=2

print(x+str(y))

El valor es: 2